<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
        content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

  <%= require('html-loader!../globals/header.html') %>
  <%= require('html-loader!../globals/nav.html') %>

<section class="posts">

  <a class="posts__link" href="#">
  <div class="posts-block">
      <img class="posts__image" src="https://image.tmdb.org/t/p/w1000_and_h563_face/hpgda6P9GutvdkDX5MUJ92QG9aj.jpg" alt="">
      <div class="posts-block__text">
        <p>Fast & Furious Presents: Hobbs & Shaw (2019)</p>
      </div>
      <div class="posts-block__button">
        <div class="posts-block__button1">
          <svg>
            <use href="../img/sprite.svg#star-full"></use>
          </svg>
        </div>
        <div class="posts-block__button2">
          <svg>
            <use href="../img/sprite.svg#bell"></use>
          </svg>
        </div>
      </div>
    </div>
  </a>

  <a class="posts__link" href="#">
      <div class="posts-block">
          <img class="posts__image" src="https://image.tmdb.org/t/p/w1000_and_h563_face/hpgda6P9GutvdkDX5MUJ92QG9aj.jpg" alt="">
          <div class="posts-block__text">
            <p>Fast & Furious Presents: Hobbs & Shaw (2019)</p>
          </div>
          <div class="posts-block__button">
            <div class="posts-block__button1">
              <svg>
                <use href="../img/sprite.svg#star-full"></use>
              </svg>
            </div>
            <div class="posts-block__button2">
              <svg>
                <use href="../img/sprite.svg#bell"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>

  <a class="posts__link" href="#">
      <div class="posts-block">
          <img class="posts__image" src="https://image.tmdb.org/t/p/w1000_and_h563_face/hpgda6P9GutvdkDX5MUJ92QG9aj.jpg" alt="">
          <div class="posts-block__text">
            <p>Fast & Furious Presents: Hobbs & Shaw (2019)</p>
          </div>
          <div class="posts-block__button">
            <div class="posts-block__button1">
              <svg>
                <use href="../img/sprite.svg#star-full"></use>
              </svg>
            </div>
            <div class="posts-block__button2">
              <svg>
                <use href="../img/sprite.svg#bell"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>

  <a class="posts__link" href="#">
      <div class="posts-block">
          <img class="posts__image" src="https://image.tmdb.org/t/p/w1000_and_h563_face/hpgda6P9GutvdkDX5MUJ92QG9aj.jpg" alt="">
          <div class="posts-block__text">
            <p>Fast & Furious Presents: Hobbs & Shaw (2019)</p>
          </div>
          <div class="posts-block__button">
            <div class="posts-block__button1">
              <svg>
                <use href="../img/sprite.svg#star-full"></use>
              </svg>
            </div>
            <div class="posts-block__button2">
              <svg>
                <use href="../img/sprite.svg#bell"></use>
              </svg>
            </div>
          </div>
        </div>
      </a>

  <button class="loadMore">Load more</button>

</section>

  <!-- <%= require('html-loader!../globals/footer.html') %> -->
</body>
</html>
