img {
  width: 100%;
  height: auto;
  display: block;
}

.posts {
  padding-top: 160px;
  width: 346px;
  margin: 0 auto;
  display: block;

  &__link {
    position: relative;
    width: 346px;
    margin: 0 auto;
    margin-bottom: 20px;

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }

  &-block {
    display: block;
    // position: relative;
    margin: 0;
    width: 346px;
    height: 176px;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.664));
      position: absolute;
      top: 0;
      left: 0;
    }

    &__text {
      margin: 0;
      position: absolute;
      bottom: 5%;
      left: 5%;
      color: #ffffff;
      z-index: 1;
    }

    &__button {
      display: flex;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 5%;
      right: 3%;
      z-index: 3;

      svg {
        width: 18px;
        height: 18px;
        fill: white;
        transition: 0.3s;

        &:hover {
          fill: gold;
        }
      }

      &1 {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        cursor: pointer;
        z-index: 100;
      }
      &2 {
        width: 18px;
        height: 18px;
        cursor: pointer;
        z-index: 100;
      }
    }
  }

  &__image {
    width: 346px;
    height: 176px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .posts {
    width: 758px;
    display: flex;
    flex-wrap: wrap;

    &__link {
      width: 366px;

      // &:nth-last-child(-n+2) {
      //   margin-bottom: 0;
      // }
    }

    &-block {
      width: 366px;
      height: 196px;
    }

    &__image {
      width: 366px;
      height: 196px;
    }
  }
}

@media (min-width: 1024px) {
  .posts {
    width: 1014px;
    display: flex;
    flex-wrap: wrap;

    &__link {
      width: 486px;

      // &:nth-last-child(-n+2) {
      //   margin-bottom: 0;
      // }
    }

    &-block {
      width: 486px;
      height: 256px;
    }

    &__image {
      width: 486px;
      height: 256px;
    }
  }
}

.loadMore {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
  color: white;
  background: #77c1bb;
  border: 1px #00000067 solid;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 #80B0FB;
}

.button_color {
  fill: gold;
}
