img {
  width: 100%;
  height: auto;
  display: block;
}

.posts {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding-top: 75px;
  width: 346px;
  margin: 0 auto;
  display: block;
  min-height: calc(100vh - 159px - 85px);

  &__link {
    position: relative;
    width: 346px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 20px;

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }

  &-block {
    display: block;
    // position: relative;
    margin: 0;
    width: 346px;
    height: 176px;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.664));
      position: absolute;
      top: 0;
      left: 0;
    }

    &__text {
      margin: 0;
      position: absolute;
      bottom: 5%;
      left: 5%;
      color: #ffffff;
      z-index: 1;
    }

    &__button {
      display: flex;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 5%;
      right: 3%;
      z-index: 3;

      svg {
        width: 18px;
        height: 18px;
        fill: white;
        transition: 0.3s;
      }

      &1 {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        cursor: pointer;
        z-index: 100;
      }
      &2 {
        width: 18px;
        height: 18px;
        cursor: pointer;
        z-index: 100;
      }
    }
  }

  &__image {
    width: 346px;
    height: 176px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .posts {
    padding-top: 160px;
    width: 758px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    &__link {
      width: 366px;

      // &:nth-last-child(-n+2) {
      //   margin-bottom: 0;
      // }
    }

    &-block {
      width: 366px;
      height: 196px;
    }

    &__image {
      width: 366px;
      height: 196px;
    }
  }
}

@media (min-width: 1024px) {
  .posts {
    padding-top: 160px;
    width: 1014px;
    display: flex;
    flex-wrap: wrap;

    &__link {
      width: 486px;

      // &:nth-last-child(-n+2) {
      //   margin-bottom: 0;
      // }
    }

    &-block {
      width: 486px;
      height: 256px;
    }

    &__image {
      width: 486px;
      height: 256px;
    }
  }
}

.loadMore {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: none;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
  color: #000000;
  background: #77c1bb;
  border: 1px #00000067 solid;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 #80B0FB;
}

.button_color {
  svg {
    fill: gold;
  }
}

.visible {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 25%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 10000;

  &-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;

    p {
      margin-bottom: 4px;
    }
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

    &:hover,
    :focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

.submit_button {
  margin-top: 8px;
  padding: 0;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  color: #77c1bb;
}
