{{#each this}}
<div class="actor-item">
  <img class="actor-item__image" src="https://image.tmdb.org/t/p/original{{this.profile_path}}" alt="">
  <a class="actor-item__name">{{this.name}}</a>
</div>
{{/each}}
