{{#each this}}
<div class="actor-item">
  {{#if this.profile_path}}
    <img class="actor-item__image" src="https://image.tmdb.org/t/p/original{{this.profile_path}}" alt="">
  {{else}}
    <img class="actor-item__image" src="../img/no-image.png" alt="">
  {{/if}}
  <p class="actor-item__name">{{this.name}}</p>
</div>
{{/each}}
