<!DOCTYPE html>
<html>

<head>
  <title>Details</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">

</head>

<body>
  <%= require('html-loader!../globals/header.html') %>

  <section class="film-section">
    <div class="film-about-container">
      <img src="" alt="" class="film-image">
      <div class="film-info">
        <h3 class="film-info__title"></h3><span> </span><h3 class="film-release-date hidden-on-mobile"></h3>
        <div class="film-info__select">
          <div class="posts-block__button">
            <div class="posts-block__button1">
              <svg>
                <use href="../img/sprite.svg#star-full"></use>
              </svg>
            </div>
            <div class="posts-block__button2">
              <svg>
                <use href="../img/sprite.svg#bell"></use>
              </svg>
            </div>
          </div>
          <div class="film-date hidden-on-tablet"></div>
        </div>

        <!-- TABLE -->

        <table class="film-info__table hidden-on-mobile">

          <tbody>
            <tr>
              <td>Country</td>
              <td class="film-country"></td>
            </tr>
            <tr>
              <td>Motto</td>
              <td class="film-motto"></td>
            </tr>
            <tr>
              <td>Director</td>
              <td class="film-director"></td>
            </tr>
            <tr>
              <td>Script</td>
              <td class="film-script"></td>
            </tr>
            <tr>
              <td>Genre</td>
              <td class="film-genres"></td>
            </tr>
            <tr>
              <td>Runtime</td>
              <td class="film-runtime"></td>
            </tr>
          </tbody>

        </table>

        <!-- ABOUT -->
        <h3 class="about-title hidden-on-mobile">About the film</h3>
        <p class="film-info__about"></p>
      </div>
    </div>

    <div class="film-wrapper">

      <!-- TRAILER -->

      <section class="trailer">
        <h3 class="trailer__title">Trailer</h3>
        <iframe class="trailer__video" src="" height="100%" width="100%"></iframe>
      </section>

      <!-- SLIDERS -->

      <section class="sliders-section">
        <div class="actor-slider-container">
          <h3 class="slider-title">Actors</h3>
          <div class="slider-actors">
            <!-- ACTORS HBS -->
          </div>
        </div>

        <div class="pictures-slider-container  hidden-on-mobile">
          <h3 class="slider-title">Images from film</h3>
          <div class="slider-pictures">
            <!-- PICTURES HBS -->
          </div>
        </div>
      </section>

    </div>

    <!-- REVIEWS-->

    <section class="reviews-wrapper">
      <h3 class="reviews-title">Reviews</h3>
      <ul class="reviews-list">
        <!-- REVIEWS HBS -->
      </ul>
    </section>

  </section>
  <%= require('html-loader!../globals/footer.html') %>
</body>

</html>
