.category__container {
  width: 100vw;
  position: fixed;
  top: 105px;
  z-index: 20;
  background: #fff;
  height: 54px;
}

.list-handler {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  height: auto;

  &__filter-inputs {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100px;
  }

  &__filter--checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &__filter--label {
    width: 15px;
    text-align: center;
    color: rgba(205, 205, 205, 1);
    border-radius: 25%;
  }

  &__filter--checkbox:checked + &__filter--label {
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(205, 205, 205, 1);
    border: 1px solid #000;
  }

  &__sort-inputs {
    display: flex;
    justify-content: space-between;
    width: 220px;
  }

  &__sort {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &--radio {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    &--label {
      width: 15px;
      text-align: center;
      color: rgba(205, 205, 205, 1);
      border-radius: 25%;
    }

    &--radio:checked + &--label {
      font-weight: 900;
      color: rgba(0, 0, 0, 1);
      background-color: rgba(205, 205, 205, 1);
      border: 1px solid #000;
    }
  }
}

@media (min-width: 768px) {
  .list-handler {
    width: 740px;
  }
}

@media (min-width: 1024px) {
  .list-handler {
    width: 960px;
  }
}
