.list-handler {
  margin: 0 auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
  height: 54px;

  &__filter-by-category {
  }

  &__sort-inputs {
  }

  &__sort-by-title {
    &--input {
    }
  }

  &__sort-by-date {
    &--input {
    }
  }
}
