.header {
  &__page {
    width: 100%;
    position: fixed;
    background-color: #78c0bc;
    height: 55px;
    margin: 0;
    top: 0;
    padding: 0;
    z-index: 11;
  }
  &__pageNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 320px;
    height: 55px;
    margin: 0 auto;
  }
  &__siteNav {
    padding: 0;
    margin: 0;
    &__button {
      background: none;
      padding: 0;
      border: 0;
      outline: none;
    }
  }
  &__siteNavMenu {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    transition: 0.3s linear;
    transform: translateX(-100%);
    z-index: 10;
    background-color: #fff;
    height: 515px;
    padding-top: 20px;
  }
  &__pageLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    margin-left: 18px;
  }
  &__search {
    display: flex;
    margin-left: auto;
    outline: none;
  }
}

.header__siteNavCat {
  list-style: none;

  &-title {
    font-size: 18px;
    margin-left: 33px;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
  }
}
.header__siteNavCat:hover {
  cursor: pointer;

  .item__icon   {
    fill: #78c0bc;
  }
  .header__siteNavCat-title {
    color: #78c0bc;
  }
}

.siteNav__icon {
  width: 20px;
  height: 14px;
  fill: #372c47;
}

.search__icon {
  width: 18px;
  height: 19px;
  fill: #372c48;
}

.logo {
  width: 25px;
  height: 24px;
}

.name {
  font-size: 16px;
  color: #41485b;
  font-weight: 300;
}

.search__input {
  display: none;
}

.siteNavCat__item {
  font-size: 12px;
  padding-left: 33px;
  list-style: none;
}

.item__icon {
  width: 23px;
  height: 23px;
  position: absolute;
  left: 17px;
}

.item__category {
  font-size: 10px;
  padding-left: 18px;
  line-height: 2;
}

.header__overlay {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 25;
  visibility: hidden;
  &.show {
    visibility: visible;
    .header__siteNavMenu {
      transform: none;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__pageNav {
      max-width: 725px;
      height: 65px;
    }
    &__search {
      border-bottom: 1px solid #3b354e;
    }
    &__siteNav svg {
      width: 25px;
      height: 17px;
    }
  }
  .search__input {
    display: block;
    position: relative;
    width: 222px;
    background: none;
    border: none;
    left: 5%;
  }
  .search__input::placeholder {
    color: #372c48;
  }
  .search__img {
    position: absolute;
  }
  .header__overlay  {
    display: none;
  }

  .header__siteNavMenu {
  display: none;
  }
}


@media (min-width: 1024px) {
  .header {
    &__pageNav {
      max-width: 980px;
    }
  }
  .header-overlay {
    display: none;
  }

  .header__siteNavMenu {
    display: none;
  }
}

