img {
  width: 100%;
  height: auto;
  display: block;
}


.actor-slider-container {
  margin-bottom: 20px;
  width: 300px;
  margin: 0 auto;
}

.pictures-slider-container,
.actor-slider-container {

  .slick-prev:before,
  .slick-next:before {
    color: white;
    background-color: #addad6;
    border-radius: 50%;
  }
}



.slider-title {
  margin-bottom: 20px;
}

.actor-item {
  width: 68px !important;
  text-align: center;


  &__image {
    object-fit: cover;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  &__name {
    color: #77c1bb;
    font-size: 14px;
  }
}

@media (min-width: 768px) {

  .sliders-section {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 20px;
  }

  .actor-slider-container,
  .pictures-slider-container {
    width: 42.5%;
  }

  .actor-slider-container {
    margin-left: 20px;
  }

  .pictures-slider-container {
    margin-right: 20px;
  }


  .slider-title {
    margin-left: -20px;
    font-size: 16px;
  }

  .film-image-item {
    text-align: center;

    &__image {
      width: 75px;
      height: 73px;
      margin-bottom: 14px;
      object-fit: cover;
    }
  }

  .actor-item {
    width: 55px !important;
    text-align: center;
    margin-left: 10px;


    &__image {
      height: 55px;
      width: 55px;
      margin-bottom: 5px;

    }

    &__name {
      font-size: 10px;
      line-height: 1;

    }
  }
}

@media (min-width: 1024px) {

  .actor-slider-container,
  .pictures-slider-container {
    width: 45%;
  }

  .sliders-section {
    margin-bottom: 70px;
  }

  .slider-title {
    font-size: 20px;
  }

  .film-image-item__image {
    width: 110px;
    height: 107px;
    margin-bottom: 0;
  }

  .actor-item {
    width: 83px !important;


    &__image {
      height: 83px;
      width: 83px;
    }

    &__name {
      font-size: 11px;
    }
  }
}
